
/*  DOCUMENTO DE ESTILO */


/*-----------Estilo General-----------*/

*{
    margin:0;
    padding:0
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 76, 117);
}

section{ 
    background-color:rgb(27, 38, 44);
    width: 1300px;
    margin: 0 auto;    
}

h2, h3, p, li, td{
    color: rgb(187, 225, 250); 
}

h1 {
    font-size: 80px;
    margin: 10px;
    text-align: left;
    color: rgb(27, 38, 44); 

}

h2 {
    padding: 40px 20px;
    font-size: 40px;  
}

h3 {
    padding: 20px 20px 20px 0px;
    font-size: 25px;
}

p{
    font-size: 15px;
    font-weight: 300;
}


img {   
    padding: 0px;
    vertical-align:top;
    /* No seria necesario porque las imagenes tienen los pixeles justos? 
    width:auto; 
    object-fit:cover;*/
}



/*-----------Encabezado-----------*/

header {
    text-align: center;
    padding:20px 0;
    background-color: rgb(255, 255, 255);   /* El color deberia ser rgb(187, 225, 250); pero como no pude editar el fondo de la imagen tuve que usar blanco */
}

header img{
    height: 200px;
}


/*-----------Menu-----------*/

nav {
    height: 100px;
    display: flex;
    background-color: rgb(27, 38, 44);
    border-bottom: solid 20px rgb(50, 130, 184);
}

nav ul {
    margin: 0px auto;
    list-style-type: none;  
    display: flex;
    align-items: center;
}

nav ul li a {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: rgb(187, 225, 250);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    
}

ul li a:hover {
    background-color: rgb(15, 76, 117);
}

/*-----------Seccion Principal (con foto de fondo) -----------*/

#principal {
    width: auto;
    height:600px;
    background-image: url(img/aerea.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    border-bottom: solid 20px rgb(50, 130, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal div{
    width: 800px;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(187, 225, 250, 0.85);
    padding-bottom: 40px;
}

#principal div p{
    margin: 0px 10px 10px;
    font-weight:bold;
    text-align: left;
    font-size: 20px;
    color: rgb(27, 38, 44);    
}


/*-----------Lugares destacados-----------*/

#divArticulos{
    display: flex;
    justify-content: space-evenly;    
    padding-bottom: 40px;
}

article{
    width: 300px;
    color: rgb(187, 225, 250);
    display: flex;
    flex-direction: column;
    align-items: left;
 
}


/*-----------Galeria-----------*/

#divGaleria{
    width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    padding-bottom: 40px;
}

#divGaleria figure{
    overflow: hidden;
}

#divGaleria figure img:hover{
    transform: scale(1.2); 
} 

#divGaleria figure:nth-child(1){
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#divGaleria figure:nth-child(2){
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

#divGaleria figure:nth-child(3){
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}

#divGaleria figure:nth-child(4){
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

#divGaleria figure:nth-child(5){
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}

#divGaleria figure:nth-child(6){
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
}

/*-----------Recomendaciones-----------*/

#seccionRecomendaciones{
    color:rgb(187, 225, 250);
}

#seccionRecomendaciones h3{
    padding: 0px 30px 30px 30px;
}

#divRecomendaciones{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

#divRecomendacionesParrafoBoton{
    width: 300px;
    display:flex;
    flex-direction: column;
}

#divRecomendacionesParrafoBoton ul{
    list-style-position: inside;
    margin-top: 20px;
    font-weight: 300;
}


#divRecomendacionesParrafoBoton a{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(187, 225, 250);
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    background-color: rgb(50, 130, 184);
    text-transform: uppercase;

}

#divRecomendacionesParrafoBoton a:hover {
    background-color: rgb(15, 76, 117);
}

table {
   font-size: 15px;
}

caption{
    font-size: 20px;
    padding: 0px 10px;
}

th{
    padding: 10px;
    text-align: left;
    background-color: rgb(27, 38, 44);
    border-bottom: 1px solid rgb(187, 225, 250);
}

td{
    padding: 5px;
    text-align: left;
    
}


tr:nth-child(even){
    background-color: rgb(15, 76, 117);
}

tr:nth-child(odd){
    background-color: rgb(50, 130, 184);
}

td:hover{
    background-color: rgb(187, 225, 250);
    color: rgb(27, 38, 44);
}



/*-----------Registrarse-----------*/

#seccionRegistrarse{ 
    color: rgb(187, 225, 250);
    border-bottom: solid 20px rgb(27, 38, 44);

}

#seccionRegistrarse h2{
    text-align: center;
}

form {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(187, 225, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#seccionRegistrarse div{ 
    padding: 10px;
}

#divMotivoViejeEstadia{
    display: flex;     
}

#divMotivoViaje{
    flex-grow: 3;
}

#divEstadia{
    flex-grow: 1;
}

label {
    display: block;
    width: 100%;
    margin: 10px 0; 
}

input, select, textarea {
    width: calc(100% - 10px);
    height: 45px;
    padding: 5px;
    border-radius: 4px;
}

select{
    height: 55px;

}

textarea{
    height: 200px;
    resize: none;
}

#divAcompañado{
    display: flex;
    justify-content: space-around;
    
}

#divRadio{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


input[type="radio"] {
    width: auto;
}

input[type="radio"]+label {
    width: auto;
    display: inline;
}

input[type="submit"] {
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    color: rgb(187, 225, 250);
    font-weight: 700;
    align-items: center;
    text-align: center;
    background-color: rgb(50, 130, 184);
}

input[type="submit"]:hover{
    background-color: rgb(15, 76, 117);
}

input:focus, select:focus, textarea:focus{
    background-color: rgb(50, 130, 184);
    color: rgb(27, 38, 44);
}

/* input:required, select:required, textarea:required{
    border: solid 5px rgb(138, 1, 1);
}
input:required, select:required, textarea:required{
    border: solid 5px  rgb(2, 75, 12);
} */



/*-----------Pie-----------*/
footer {
    height: 120px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 20px rgb(50, 130, 184);


}

footer nav  {
    background-color: rgb(255, 255, 255);
    border-bottom: solid 20px rgb(255, 255, 255);
}

footer img {
    padding: 0px 10px   ;
    height: 60px;
}

footer img:hover{
    height: 80px;
}

footer ul li a:hover {
    background-color: rgb(255, 255, 255);
}